body{
    margin: 0%;
    font-family: 'Oswald', sans-serif;
}
.name-highlight{
    color: rgb(179, 41, 6);  
}
.name-highlight1{
    color: white;
    margin: 20%; 
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
}



.half-width img{
    width: 100%;
    margin-left: 10%;
}
.half-width1 img{
    width: 100%;
}
.tob-section{
    background-color: plum;
}
section{
    height: 500px;
}
.mid-section{
    background-color: rgba(177, 179, 182, 0.548)
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(40deg, rgb(223, 58, 43), rgba(236, 82, 55, 0.931));
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
    
}
.name-highlight-centre{
    text-align: left;
}
.half-width1{
    float: left;
    margin-top: 50px;
    padding-left: 5%;
    box-shadow: 10px 10px 40px gray;
    height: 40%;
    width: 25%   
}
.down-section{
    background-image: url("image.png");
    background-position: center;
    box-sizing: 100%;
    border-radius: 10%;
    margin: 10% 25%;
    height: 150px;
    width: 50%;
    text-align: center;
    
}
    
  